.headSecond{
    position: relative;
    height: 520px;
    background: #000;
}
.headSecond .focusImg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1348px;
    height: 520px;
}
.headSecond .focusImg ul .fi1 a{
    display: block;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner1.jpg")no-repeat;
}
.headSecond .focusImg ul .fi2 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner2.jpg")no-repeat;
}
.headSecond .focusImg ul .fi3 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner3.jpg")no-repeat;
}
.headSecond .focusImg ul .fi4 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner4.jpg")no-repeat;
}
.headSecond .focusImg ul .fi5 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner5.jpg")no-repeat;
}
.headSecond .focusImg ul .fi6 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner6.jpg")no-repeat;
}
.headSecond .focusImg ul .fi7 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner7.jpg")no-repeat;
}
.headSecond .focusImg ul .fi8 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner8.jpg")no-repeat;
}
.headSecond .focusImg ul .fi9 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner9.jpg")no-repeat;
}
.headSecond .focusImg ul .fi10 a{
    display: block;
    display: none;
    height: 520px;
    width: 1348px;
    background: url("../img/banner/banner10.jpg")no-repeat;
}
.headSecond .focusli ul{
    position: absolute;
    right: 83px;
    top: 22px;
    height: 371px;
    width: 246px;
    background:url("../img/site-focuslist_bg.png");
}
.headSecond .focusli ul li{
    margin: 0px 16px;
    padding: 0 17px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;

}
.headSecond .focusli ul li:hover{
    background: greenyellow;
}
.headSecond .focusli ul li.on{
    margin-top: 21px;
}